{
  "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "mocha": true,
      "es6": true
    },
    "plugins": [ "react" ],
    "rules": {
      "semi": [2, "never"],
      "no-console": 0,
      "no-underscore-dangle": 0,
      "quotes": [2, "single"],
      "jsx-quotes": 2,
      "react/jsx-no-undef": 2,
      "react/jsx-uses-react": 2,
      "react/jsx-uses-vars": 2
    }
}
