<!DOCTYPE html>
<html>
  <head>
      <title>home page - {{route}}</title>
  </head>
  <body>
    <div id="container"></div>

    <a href="/example.html">example page for route: {{route}}, with data: {{data}}</a><br />

    <script src="/assets/bundle.js"></script>
  </body>
</html>
