<!DOCTYPE html>
<html>
  <head>
      <title>home page - {{route}}</title>
  </head>
  <body>
    <a href="/example.html">example page</a><br />

    <script src="/assets/bundle.js"></script>
  </body>
</html>
