<!DOCTYPE html>
<html>
  <head>
      <title>site seed</title>
  </head>
  <body>
    <div id="container">{{{content}}}</div>

    <a href="/example.html">example static page</a><br />

    <script src="/assets/bundle.js"></script>
  </body>
</html>
